/* text INSPIRING STORIES*/

.bangkok-post-foundation-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bangkok-post-foundation-card-text h3 {
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 16px;
  width: auto;
  text-align: start;
}

.bangkok-post-foundation-card-text p {
  font-size: 23px;
  line-height: 1.6;
  color: #333;
  text-align: start;
}

