/* Section 2: 4 Decades of Giving */
.giving-section {
  background: var(--bp-blue);
  color: white;
  padding: 30px 20px;
  position: relative;
}

/* เส้นบรรทัด */
.quote-lines {
  position: absolute;
  inset: 0;
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2) 1px,
    transparent 1px,
    transparent 48px
  );
  pointer-events: none;
}

.giving-quote {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  line-height: 2;
}

.giving-quote p {
  margin-bottom: 32px;
}

.quote-hand {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto; /* ลอง 300–380px */
  height: 600px; /* กันรูปบี้ */
}

/* quote mark */
.quote-mark {
  font-size: 64px;
  font-weight: bold;
  position: absolute;
  color: #ffffff;
}

.quote-start {
  top: -30px;
  left: -40px;
}

.quote-end {
  bottom: -40px;
  right: -40px;
}

/* มือจับปากกา */
.quote-hand {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 280px;
}
.giving-quote-section {
  position: relative;
  background-color: #1565c0;
  padding: 80px 20px;
  overflow: hidden;
}

.giving-hero {
  background:
    linear-gradient(rgba(26, 26, 26, 0.455), rgba(0, 0, 0, 0.564)),
    url("/assets/BW/1990-2_Chumphon-Typhoon\ Gay_BW.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
  width: auto;
}


@media (max-width: 768px) {
  .quote-hand {
    display: none;
  }

  .quote-start,
  .quote-end {
    display: none;
  }

  .giving-quote {
    font-size: 16px;
    line-height: 1.8;
  }
}
